.profile-image {
  aspect-ratio: 5/4;
  margin-top: -90px;
}

.bg-green {
  border: 1px solid #088F8F;
  display: block;
}

.bg-green:hover {
  background-color: #017d7d;
  border: 1px solid #017d7d;
}

.profile-image-span {
  display: flex;
  justify-content: center;
}

.bg-github {
  background-color: rgb(220, 220, 220);
  border-radius: 15px;
  transition: 0.5s;

}

.bg-github:hover {
  background-color: #131418;
  border-radius: 15px;
}

.bg-github i {
  color: #131418;
  transition: transform 0.2s ease-in-out;
}

.bg-github i:hover {
  transform: scale(1.1);
  color: #fff;
}

.bg-twitter {
  background-color: rgb(220, 220, 220);
  border-radius: 15px;
  transition: 0.5s;
}

.bg-twitter:hover {
  background-color: #1DA1F2;
  border-radius: 15px;
}

.bg-twitter i {
  color: #1DA1F2;
  transition: transform 0.2s ease-in-out;
}

.bg-twitter i:hover {
  transform: scale(1.1);
  color: #fff;
}

.bg-linkedin {
  background-color: rgb(220, 220, 220);
  border-radius: 15px;
  transition: 0.5s;
}

.bg-linkedin:hover {
  background-color: #0A66C2;
  border-radius: 15px;
}

.bg-linkedin i {
  color: #0A66C2;
  transition: transform 0.5s ease-in-out;
}

.bg-linkedin i:hover {
  transform: scale(1.1);
  color: #fff;
}

.icon {
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i:hover {
  transform: scale(1.1);
}

.button-desc {
  background-color: white;
  color: black;
  border: 1px solid #088F8F;
}

.button-desc:hover {
  background-color: #088F8F;
  color: white;
}

.sticky-profile {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

@media (max-width: 575.98px) {
  .profile-image {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .profile-feild {
    width: 80% !important;
  }
}

.profile-name {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
}

/* Styles for screens between 576px and 767.98px (small devices) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .profile-image {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .profile-feild {
    width: 80% !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .profile-image {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .profile-feild {
    width: 30% !important;
  }
}