* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: #212121;
  --third-color: black;
}


.background-image-container {
  background-image: url("../public/Images/page-bg-light.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.dark-mode {
  background-image: url("../public/Images/page-bg-dark.jpg");
  --primary-color: #000000;
  --secondary-color: #212121;
  --third-color: #fff;
  background-color: black;
}


.bg-gray {
  background-color: #f3f3f3;
}

.bg-blue {
  background-color: #0A66C2;
}

.bg-green {
  background-color: #088F8F;
}

.resp-text {
  font-size: clamp(0.6875rem, 0.5139rem + 0.5556vw, 1rem);
}

.resp-text-small {
  font-size: clamp(0.5rem, 0.3472rem + 0.4167vw, 0.8rem);
}

.resp-h1 {
  font-size: clamp(1.375rem, 0.75rem + 2vw, 2.5rem);
}

.resp-h2 {
  font-size: clamp(1.25rem, 0.75rem + 1.5vw, 2rem);
}

.resp-h3 {
  font-size: clamp(1.125rem, 0.75rem + 1vw, 1.75rem);
}

.resp-h4 {
  font-size: clamp(1rem, 0.75rem + 0.75vw, 1.5rem);
}

.resp-h5 {
  font-size: clamp(1rem, 0.75rem + 0.5vw, 1.5rem);
}

.resp-h6 {
  font-size: clamp(1rem, 0.75rem + 0.25vw, 1.5rem);
}

hr {
  height: 3px;
  background-color: #088F8F;
}

.hr-small {
  border: none;
  overflow: visible;
  text-align: center;
  height: 3px;
  width: 80%
}

.hr-small::after {
  background: #fff;
  content: 'ยง';
  padding: 0 4px;
  position: relative;
  top: -13px;
}